{% extends "base.html" %}

{% block title %}DJ{% endblock %}

{% block header %}about{% endblock %}

{% block content %}
<div style="position: relative; padding-bottom: 20px;">
    <h2>about me</h2>
    <p>Hey, i come from bhilwara, rajasthan, india. I believe in creating net +ve impact on the world.</p>
    <p>other than that i love reading about "EVERYTHING" </p>
    <p>here's a haiku about me : "took the road , waiting for breath to walk again"</p>
    <figure class="article-image">
        <img src="/static/images/about_me.jpg" alt="Come quando eravamo piccoli" style="width: 100%; height: auto;">
        <figcaption>Come quando eravamo piccoli — Elena Di Palma (<a
                href="https://illustratorscontest.tapirulan.it" target="_blank"
                rel="noopener noreferrer">Tapirulan</a>)</figcaption>
    </figure>

    <h2>philosophy</h2>
    <p>Less is more. People should respect people and on top of everything respect every other thing other than
        yourself.
        Learn things with utmost observation and nothing more with undivided attention.</p>

    <h2>background</h2>
    <p>I have done majors in physics including my thesis on origin of magnetic field in early parts of universe.
        My focus is on creating creative, efficient , extremly reliable solutions and systems/theories that handle
        real-world practicality and
        stand the test of time.</p>

    <h2>expertise</h2>
    <p>I have worked on various technologies and tools, but my core expertise lies in understaning the problems at hand
        to
        the very core
        and then creating a solution that is efficient and extremly reliable. Over the past 15 years , i have worked in
        almost 10 different domains including meme creator, Dj and so on. Meanwhile most of this generally comes with
        computer science and technology.
    </p>

    <p style="text-align: center;"><a href="/thought-for-century">→ thought for the century ←</a></p>

    <img src="/static/images/cat_sama_interaction.png" alt="Interaction Cat"
        style="position: absolute; bottom: -40px; right: 60px; width: 100px; height: auto; opacity: 0.9; z-index: 101; filter: grayscale(100%); transform: rotate(-5deg);">
    <a href="/contact">
        <img src="/static/images/cat_samurai.png" alt="Samurai Cat"
            style="position: absolute; bottom: 0; right: 0; width: 80px; height: auto; opacity: 0.8; z-index: 102;">
    </a>
</div>
{% endblock %}