{% extends "base.html" %}

{% block title %}DOthedot{% endblock %}

{% block header %}portfolio{% endblock %}

{% block content %}
<h2>hello</h2>
<p>Hello Comrade's!<br>My name is dhananjay ojha and i write about philosophy, physics and technology. Other than that i
    exploit my physical powers in leisure time as a mma enthusiast, if you are not sure about what's that lets "ROLL"!!!
</p>

<h2><a href="/literary" style="text-decoration: none;">blogs</a></h2>
<ul class="blog-list">
    {% for blog in blogs %}
    <li><span class="article-date">{{ blog.epoch }}, {{ blog.date }}</span> <a href="/blog/{{ blog.slug }}">{{ blog.title }}</a></li>
    {% endfor %}
</ul>

<h2>quotes</h2>
<div class="quotes-block">
    <span class="quotes-label">quotes</span>
    <div class="quotes-row">
        <div class="quotes-body">
            <p id="quote-text" class="quote-text">Roll the die for a quote.</p>
            <p id="quote-attr" class="quote-attr"></p>
        </div>
        <div class="quotes-rail">
            <button type="button" id="dice-btn" class="dice-btn" title="Roll a new quote" aria-label="Roll a new quote"></button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/quotes.js') }}" defer></script>
{% endblock %}
