{% extends "base.html" %}

{% block title %}DOthedot{% endblock %}

{% block header %}portfolio{% endblock %}

{% block content %}
<h2>literary works</h2>
<p>Collection of writings on philosophy, physics, and technology.</p>

<h2>poems</h2>
<ul class="blog-list">
    <li><a href="/literary/phone-poem">PHONE PHONE O MY PHONE…</a></li>
    <li><a href="/literary/homework-machine">THE HOMEWORK MACHINE</a></li>
    <li><a href="/literary/when-the-rain">WHEN THE RAIN</a></li>
</ul>

<h2>blogs</h2>
<ul class="blog-list">
    {% for blog in blogs %}
    <li><span class="article-date">{{ blog.epoch }}, {{ blog.date }}</span> <a href="/blog/{{ blog.slug }}?from=literary">{{ blog.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}